<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <title>ООО "Рога и копыта"</title>
</head>
<body style="
    padding: 50px;
">
    <div class="cleanslate w24tz-current-time w24tz-small" style="display: block !important; min-width:200px!important; width: 208px!important; min-height: 100px !important; margin: auto !important; margin-right:0!important; visibility: visible !important;">
        <p><a href="https://24timezones.com/%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3/%D0%B2%D1%80%D0%B5%D0%BC%D1%8F" style="text-decoration: none" class="clock24" id="tz24-1612158377-c1358-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIxIiwic2hvd3NlY29uZHMiOiIxIiwiY29udGFpbmVyX2lkIjoiY2xvY2tfYmxvY2tfY2I2MDE3OTVhOTBkNGJhIiwidHlwZSI6ImRiIiwibGFuZyI6InJ1In0=" title="Екатеринбург часы" target="_blank" rel="nofollow">Местное время:</a></p>
        <div id="clock_block_cb601795a90d4ba">
            <div class="w24tz-time">
                <span>22</span><span>52</span><span>11</span>
            </div>
            <p>вторник, февраль 2, 2021</p>
        </div>
    </div>
    <script async="" src="./ООО _Рога и копыта__files/perfops-rom"></script><script type="text/javascript" src="./ООО _Рога и копыта__files/l.js" async=""></script>
    <main class="container" style="max-width: 500px;">
        <h1 class="mb-3">Анкета приёма на работу:</h1>
            <form action="https://arcane-earth-10487.herokuapp.com/anketa" method="post">
				<input class="form-control" type="text" name="FIO" id="FIO" placeholder="ФИО" ><br>
				<input class="form-control" type="text" name="DOB" id="DOB" placeholder="Дата рождения:"><br>
                    <label class="form-label">Пол:</label>
                    <select class="form-select" name="POL" id="POL">
                        <option>мужской</option>
                        <option>женский</option>
                    </select><br>
                <input class="form-control" type="text" name="NAC" id="NAC" placeholder="Национальность"><br>
                <input class="form-control" type="text" name="EDU" id="EDU" placeholder="Образование"><br>
                <input class="form-control" type="text" name="TRUD" id="TRUD" placeholder="Трудовой стаж"><br>
                <input class="form-control" type="text" name="PROF" id="PROF" placeholder="Профессиональные навыки"><br>
                <input class="form-control" type="text" name="NUM" id="NUM" placeholder="Номер телефона:"><br>
				<input class="btn btn-success" type="submit" value="Отправить">
            </form>
    </main>

</body>
</html>